{% load cms_tags menu_tags sekizai_tags %}

<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">

    <title>{{ request.current_page.get_title }}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.png" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/media-queries.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/fancybox/jquery.fancybox.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.2" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.2" />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700italic,700,500italic,500,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}type/fontello.css">
    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie8.css" media="all" />
    <![endif]-->
    <!--[if IE 9]>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie9.css" media="all" />
    <![endif]-->
    {% render_block "css" %}
    {% render_block "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ddsmoothmenu.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/selectnav.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.themepunch.megafoliopro.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fullwidth-slider.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easytabs.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/twitter.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dcflickr.1.0.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jribbble-0.11.0.ugly.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.slickforms.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.address.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.2"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.2"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/helpers/jquery.fancybox-media.js?v=1.0.0"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dpSocialTimeline.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.themepunch.showbizpro.js"></script>
</head>
<body class="box-layout">
{% if user.is_authenticated %}
    {% cms_toolbar %}
    <style type="text/css">
        .cms_placeholder {
            float: none;
        }
    </style>
{% endif %}
<!-- Begin Top Wrapper -->
<div class="top-wrapper">
    <!-- Begin Inner -->
    <div class="inner">
        <!-- Begin Header -->
        <div class="header">
            {% block header %}
            <div class="logo"> <a href="/"><img src="{{ STATIC_URL }}logo.png" alt="" /></a> </div>
            <ul class="social">
                <li>{% language_chooser %}</li>
            </ul>
            <div class="clear"></div>
            {% endblock header %}
        </div>
        <!-- End Header -->
        <!-- Begin Menu -->
        <div id="menu" class="menu clearfix">
            <ul id="tiny">
                {% show_menu %}
            </ul>
        </div>
        <!-- End Menu -->
        {% block header_content %}
            {% placeholder header %}
        {% endblock %}

    </div>
    <!-- End Inner -->
</div>
<!-- End Top Wrapper -->

<!-- Begin Box Wrapper -->
<div class="box-wrapper">

    {% block base_content %}
        {% placeholder content %}
    {% endblock %}

<!-- Begin Footer -->
<div class="footer-wrapper">
    <div class="footer-light"></div>
    <div class="footer">
        {% block footer_block %}
            {% placeholder footer %}
        {% endblock %}
        <div class="clear"></div>
    </div>
</div>
<!-- End Footer -->

<!-- Begin Site Generator -->
<div class="site-generator-wrapper">
    <div class="site-generator">
        <div class="copyright">
            <p>© 2013 Russian Geometry Community. All rights reserved. Theme by <a href="http://themeforest.net/user/elemis">elemis</a>.</p>
        </div>
    </div>
</div>
<!-- End Site Generator -->
</div>
<!-- End Box Wrapper -->
<script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>
</body>
</html>